[alias]
    l = log --all --decorate --abbrev-commit --color=always --pretty=format:'%C(auto)%h %C(reset)%C(auto)%d %C(reset)%s %C(dim white)(%an)%C(reset)'
    lg = log --graph --all --decorate --abbrev-commit --color=always --pretty=format:'%C(auto)%h %C(reset)%C(auto)%d %C(reset)%s %C(dim white)(%an)%C(reset)'
